
* {
    font-family: 'Barlow', sans-serif;

}

.head__items {
     display: flex; 
}

.head__items button {
    font-weight: bold;

}



@media (max-width:376px)  { 

  .keybaord__images .decorative-square  {
    display:none;
   }
}


@media (min-width:768px)  { 



}

@media (min-width:1281px) { 



}
